doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Visitor Form
h1 Thank you #{name}!
br
h2 Your information has been successfully added!
  p Visitor Id: #{visitorId}
  p Name: #{visitor_name}
  p Visitor's Age: #{visitor_age}
  p Date: #{date_of_visit}
  p Time: #{time_of_visit}
  p Assistant's Name: #{assistant}
  p Comment: #{comments}